<h2>Modifier un étudiant</h2>

<p *ngIf="loading">Chargement...</p>
<p *ngIf="errorMessage" style="color:red">{{ errorMessage }}</p>

<form *ngIf="!loading" (ngSubmit)="submit()" #f="ngForm">
  <div>
    <label>Prénom</label><br />
    <input type="text" name="firstName" [(ngModel)]="model.firstName" required />
  </div>

  <div>
    <label>Nom</label><br />
    <input type="text" name="lastName" [(ngModel)]="model.lastName" required />
  </div>

  <div>
    <label>Email</label><br />
    <input type="email" name="email" [(ngModel)]="model.email" required />
  </div>

  <br />
  <button type="submit" [disabled]="loading || f.invalid">Enregistrer</button>
  &nbsp;
  <a [routerLink]="['/etudiants', id]">Annuler</a>

  <p *ngIf="successMessage" style="color:green">{{ successMessage }}</p>
</form>
